.btnChooseAddress {
  color: #fff;
  background: $primary-color;
  border-radius: 5px;
  padding: 4px 8px;
  border: none;
}

.btnChooseAddress:hover {
  background: #f4964a;
  color: #fff;
}

.redirect-link {
  background: $primary-color;
  color: #fff;
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
}

.redirect-link:hover {
  color: #fff;
  background: #f4964a;
}
