.nav-tabs {
  border: none !important;
  font-size: 16px;
}

.nav-link {
  color: #685b5b;
}

.nav-tabs .nav-link {
  font-weight: 700;
  border: none;
}

.nav-link:focus,
.nav-link:hover {
  color: #685b5b;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: none;
  color: $primary-color;
  border-bottom: 2px solid $primary-color;
}

.my-info {
  font-size: 16px;
}

.my-info table {
  max-width: 600px;
}

.my-info label {
  padding-bottom: 30px;
}

.my-info p {
  padding-bottom: 30px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #685b5b !important;
}

.placeholder-value-input {
  padding-bottom: 30px;
  padding-left: 30px;
}

.btnUpdateInfoUser,
.btnModalAddAddress,
.btnActiviedAddress,
.btnEditAddress {
  padding: 0 20px;
  border: none;
  color: #fff;
  background: $primary-color;
  transition: 0.3s;
  border-radius: 5px;
}

.my-info button:hover,
.btnModalAddAddress:hover,
.btnActiviedAddress:hover,
.btnEditAddress:hover,
.btnAddAddress:hover,
.btnPostReceipt:hover,
.btnSendReceipt:hover{
  color: #fff;
  background: #f4964a;
}

.placeholder-info {
  text-align: right;
}

.btnModalAddAddress {
  max-width: 250px;
  margin-top: 1rem;
}

.address-wrapper {
  max-height: 600px;
  overflow: hidden;
  overflow-y: auto;
}

.address-info a {
  color: $primary-color;
}

.total-amount {
  font-size: 16px;
  color: $primary-color;
  font-weight: 700;
}

.modal-body input[type="number"] {
  height: 50px !important;
  border-radius: 0.25rem;
  font-weight: 400;
  width: 100%;
  padding: 14px;
  text-align: start;
  border: 1px solid #ced4da;
}

.btnAddAddress {
  background: $primary-color;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 4px;
}

.btnPostReceipt {
  background: $primary-color;
  border: none;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  width: 110px;
}